- if params[:q].present?
  .histroy
    = line_chart [{name: "最高价", data: @history_prices[:max]},
      {name: "最低价", data: @history_prices[:min]}],
      library: {yAxis: {gridLineDashStyle: 'longdash'}, xAxis: {labels: {enabled: false}}}
.entries
  = render @entries

= paginate @entries
.clear

#loading
  .rect1
  .rect2
  .rect3
  .rect4
  .rect5
